<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!--- Custom CSS File --->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Register</header>
      <form action="#">
        <input type="text" id="login-name" placeholder="Enter your name">
        <input type="text" id="login-username" placeholder="Enter your username">
        <input type="text" id="login-email" placeholder="Enter your email">
        <input type="password" id="login-password" placeholder="Enter your password">
        <input type="button" class="button" value="Signup" id="login-submit">
      </form>
      <div class="signup">
        <span class="signup">Have an account?
          <label for="check">Login</label>
        </span>
      </div>
    </div>
    <div class="registration form">
      <header>Signup</header>
      <!-- <form action="#"> -->
        <!-- <input type="text" id="signup-name" placeholder="Enter your name">
        <input type="text" id="signup-username" placeholder="Enter your username">
        <input type="text" id="signup-email" placeholder="Enter your email">
        <input type="password" id="signup-password" placeholder="Enter your password">
        <input type="button" class="button" value="Signup" id="signup-submit"> -->
      <!-- </form> -->
       </div>
     </div>
     <script src="{{ url_for('static', filename='js/index.js') }}"></script>
   </body>
   </html>
